<!DOCTYPE html>
<html>
<head>
    <title>Adaugare produs</title>
</head>
<body>
    <h1>Adaugare produs</h1>
    <form action="/adauga-produs" method="POST">
        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id">
        </div>
        <div>
            <label for="nume">Nume:</label>
            <input type="text" id="nume" name="nume">
        </div>
        <div>
            <label for="pret">Pret:</label>
            <input type="text" id="pret" name="pret">
        </div>
        <button type="submit">Adauga</button>
    </form>
</body>
</html>
